@font-face {
  font-family: "Jerome";
  src: url("/fonts/JeromeRegular.woff2") format("woff2"),
    url("/fonts/JeromeRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Payton";
  src: url("/fonts/PaytonRegular.woff2") format("woff2"),
    url("/fonts/PaytonRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
